{% extends "layout.html" %}
<!---->
{% block content %}
<div>
  <h1>Buscar Cliente</h1>
  <div id="formarea">
    <form action="{% url 'buscar' %}" method="post">
      {% csrf_token %}
      <table id="mtable">
        <tr>
          <th><label for="id_cpf">CPF:</label></th>
          <td>
            <input type="text" name="cpf" maxlength="11" required id="id_cpf" />
          </td>
        </tr>
      </table>
      <div style="text-align: right; width: 90%;">
        <button type="submit" class="btn">Buscar</button>
      </div>
    </form>
  </div>
  {% if cliente %} {% if cliente == 404 %}
  <h1>Cliente não encontrado na base de dados :(</h1>
  {% else %}
  <h1>
    Id: {{ cliente.mid }}<br />
    Nome: {{ cliente.nome }}<br />
    CPF: {{ cliente.cpf }}<br />
    Endereço: {{ cliente.endereco }}
  </h1>
  {% endif %} {% endif %}
</div>
{% endblock %}
